@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tab {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  user-select: none;
  overflow: hidden;
}

.tab-list {
  width: 100%;
  display: flex;
  text-align: center;
  line-height: 45px;
}

.item {
  flex: 1;
  color: #666;
  border-bottom: 1px solid #e9e9e9;
  transition: color .1s;
}

.item.active {
  color: #4A86EA;
  border-bottom: 2px solid #4A86EA;
}

.tab-panels {
  width: 100%;
  height: calc(100% - 45px);
}

.panel {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
}

.panel.active {
  display: block;
  animation: fadeIn .8s;
}
