
.item {
  line-height: 80px;
  color: pink;
  border-bottom: none;
  background: gray;
}

.item.active {
  color: orange;
  border-bottom: none;
  background: #66CCFF;
}

.tab-panels {
  width: 100%;
  height: calc(100% - 80px);
}
